/* --------------------------------------PHONE-------------------------------------- */
.infoContainer {
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
.containerMovieDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.button {
  background-color: #686de0;
  text-decoration: none;
  display: inline-block;
  padding: 6px 14px;
  position: relative;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-family: Gilroy Medium;
  transition: 0.4s;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 35px;
}
.button:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  border: 2px solid rgba(0, 0, 0, 0);
  transition: 0.4s;
  border-radius: 5px;
}
.button:hover:after {
  border-color: #ffffff;
  width: calc(100% - 10px);
  height: calc(100% + 10px);
}
.containerImgInfo {
  font-family: Gilroy Medium;
  padding-top: 15px;
  border-radius: 20px;
  
  width: 100%;
}
.movieImg {
  text-align: center;

  border-radius: 20px;
  background: rgba(0, 0, 0, 0.27);
}
.genresList {
  list-style: none;
  display: flex;
  gap: 10px;
}
.listMore {
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}
.linkInfo {
  font-family: 'Gilroy Bold';
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  background: #2c2c54;
  display: block;
  padding: 8px;
  width: 60px;
  text-align: center;
  position: relative;
  border: 2px solid #ffffff;
  color: #ffffff;

  transition: 0.4s;
  border-radius: 40px;
  cursor: pointer;
}
.linkInfo:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  border: 2px solid rgba(0, 0, 0, 0);
  transition: 0.4s;
  border-radius: 40px;
}
.linkInfo:hover:after {
  border-color: #ffffff;
  width: calc(100% - 8px);
  height: calc(100% + 10px);
}
.overview {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22.5px;
  padding-top: 15px;
}
.containerInfo {
  padding-top: 30px;
}
.genre {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.genresTitle {
  font-size: 16px;
}
.genresItem {
  font-size: 12px;
  text-transform: lowercase;
}
/* --------------------------------------TABLET-------------------------------------------- */
@media screen and (min-width: 768px) {
  .button {
    font-size: 18px;
    padding: 10px 30px;
  }
  .genresList {
    gap: 15px;
  }
  .linkInfo {
    font-size: 18px;
    width: 120px;
    padding: 15px;
  }
  .linkInfo:hover:after {
    width: calc(100% - 20px);
    height: calc(100% + 20px);
  }
  .overview {
    font-size: 20px;
  }
  .genresTitle {
    font-size: 20px;
  }
  .genresItem {
    font-size: 16px;
  }
  .containerMovieDetails {
    padding-left: 40px;
    padding-right: 40px;
  }
}
/* ---------------------------------------DESCTOP------------------------------------------ */
@media screen and (min-width: 1158px) {
  .infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Gilroy Bold';
    padding-left: 80px;
  }
  .linkInfo {
    width: 160px;
    padding: 25px;
    font-size: 25px;
  }
  .containerImgInfo {
    display: flex;
    flex-direction: row;
    gap: 50px;
    font-family: Gilroy Medium;
    margin-top: 40px;
    background: #686ce05a;
    padding: 40px;
    border-radius: 20px;
    width: auto;
  }
  .titleMovie {
    font-size: 35px;
    margin-bottom: 10px;
  }
  .containerMovieDetails {
    margin-top: 45px;
    align-items: start;
    padding-right: 80px;
  }
  .genresTitle {
    font-size: 25px;
  }
  .genresItem {
    font-size: 15px;
    text-transform: lowercase;
  }
  .containerInfo {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .genre {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .overview {
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 32.5px;

    padding-top: 35px;
  }

  .containerListMore {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }
  .linkInfo:hover:after {
    border-color: #ffffff;
    width: calc(100% - 20px);
    height: calc(100% + 20px);
  }
  .button {
    margin-bottom: 0;
  }
}
/* ============================REVIEWS================================= */
.notification {
  font-size: 35px;
  margin-bottom: 10px;
  padding-bottom: 50px;
  padding-left: 35px;
}
.containerReviews {
  margin-top: 60px;
}

.authorReviews {
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 32.5px;
  padding-bottom: 25px;
}
.itemReviews {
 
  background-color: #686ce077;
  border-radius: 20px;
  padding: 35px;
  margin-bottom: 35px;
}
.listReviews {
  list-style: none;
  padding-left: 0px;
}
.contentReviews {
  font-family: 'Gilroy Medium';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}

/* ============================CAST================================= */

.listCast {
  list-style: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 40px;
  padding: 0;
}
.itemCast {
  border-radius: 20px;
  background: #2c2c54;
  box-shadow: 0px 0px 30px 0px rgba(146, 146, 146, 0.2);
  height: 450px;
  text-align: center;
  width: 288px;
  font-family: 'Gilroy Medium';
  display: flex;
  flex-direction: column;
  align-items: center;
 
}
.imgCast {
  border-radius: 20px;
  margin-bottom: 10px;
  margin-top: 30px;
}
.nameCast {
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 32.5px;
}
.characterCast {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 32.5px;
  text-align: center;
}
.notificationImg {
  font-size: 35px;
  margin-bottom: 10px;
  text-align: center;
  margin-top: 150px;
}
@media screen and (min-width: 768px) {
  .listCast {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 40px;
    justify-content: center;
  }
  .imgCast {
    width: 280px;
    height: 425px;
    margin-bottom: 30px;
  }
  .itemCast {
    width: 350px;
    height: 585px;
  }
}
