.button {
  background-color: #686de0;
  text-decoration: none;
  display: inline-block;
  margin: 10px 20px;
  padding: 10px 30px;
  position: relative;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-family: Gilroy Medium;
  transition: 0.4s;
  font-size: 25px;
  border-radius: 5px;
  cursor: pointer;
}
.button:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  border: 2px solid rgba(0, 0, 0, 0);
  transition: 0.4s;
  border-radius: 5px;
}
.button:hover:after {
  border-color: #ffffff;
  width: calc(100% - 10px);
  height: calc(100% + 10px);
}

.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Gilroy Bold';
  padding-left: 122px;
  padding-right: 122px;
}
.img {
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.27);
}

.genresList {
  list-style: none;
  display: flex;
  gap: 10px;
}
.containerImgInfo {
  display: flex;
  flex-direction: row;
  gap: 50px;
  font-family: Gilroy Medium;
  margin-top: 40px;
  background: #686de0;
  padding: 40px;
  border-radius: 20px;
}
.titleMovie {
  font-size: 35px;
  margin-bottom: 10px;
}
.containerMovieDetails {
  margin-top: 45px;
}
.genresTitle {
  font-size: 25px;
}
.genresItem {
  font-size: 15px;
  text-transform: lowercase;
}
.containerInfo {
  display: flex;
  flex-direction: column;
  position: relative;
}
.qwer {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.overview {
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 32.5px;
  width: 581.124px;
  padding-top: 35px;
}
.listMore {
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
}
.itemMore {
}
.linkInfo {
  font-family: 'Gilroy Bold';
  color: #ffffff;
  text-decoration: none;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 40px;
  background: #2c2c54;
  display: block;
  padding: 25px;
  width: 160px;
  text-align: center;
  position: relative;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-family: Gilroy Medium;
  transition: 0.4s;
  font-size: 25px;
  border-radius: 40px;
  cursor: pointer;
}
.containerListMore {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
.infoContainer {
}

.linkInfo:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  border: 2px solid rgba(0, 0, 0, 0);
  transition: 0.4s;
  border-radius: 40px;
}
.linkInfo:hover:after {
  border-color: #ffffff;
  width: calc(100% - 20px);
  height: calc(100% + 20px);
}

/* ============================REVIEWS================================= */
.notification {
  font-size: 35px;
  margin-bottom: 10px;
  padding-bottom: 50px;
  padding-left: 35px;
}
.containerReviews {
  margin-top: 60px;
}

.authorReviews {
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 32.5px;
  padding-bottom: 25px;
  padding-left: 25px;
}
.itemReviews {
  margin: 25px;
  background-color: #686ce077;
  border-radius: 20px;
  padding: 35px;
}
.listReviews {
  list-style: none;
}
.contentReviews {
  font-family: 'Gilroy Medium';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}

/* ============================CAST================================= */
.containerCast {
}
.listCast {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 35px;
  row-gap: 55px;
  padding: 0;
}
.itemCast {
  border-radius: 20px;
  background: #2c2c54;
  box-shadow: 0px 0px 30px 0px rgba(146, 146, 146, 0.2);
  height: 450px;
  padding-top: 35px;
  text-align: center;
  width: 280px;
  font-family: 'Gilroy Medium';
  position: relative;
}
.imgCast {
  border-radius: 20px;
  background: #2c2c54;
  box-shadow: 0px 0px 30px 0px rgba(146, 146, 146, 0.2);
  margin-bottom: 25px;
}
.nameCast {
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 32.5px;
}
.characterCast {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 32.5px;
  text-align: center;
}
.notificationImg {
  font-size: 35px;
  margin-bottom: 10px;
  text-align: center;
  margin-top: 150px;
}
.containerName {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 220%);
}
