/* PHONE */

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  /* margin-top: 60px;
  margin-bottom: 51px;
  margin-left: 120px; */
  /* min-width: 288px;
  max-width: 396px; */
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
.hero {
  /* margin: 0 auto; */
  width: 288px;
}
.aboutPage {
  font-family: Gilroy Medium;
  font-style: normal;
  font-style: 5px;
}
.titlePage {
  font-family: Gilroy Bold;
  line-height: normal;
  font-style: normal;
  font-style: 40px;

  margin-bottom: 25px;
  /* height: 194px; */
}
.mainSection {
  /* margin: 0 auto; */
}
.homeList {
  list-style: none;
  text-align: center;
  font-size: 10px;
  line-height: 1.8;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  /* column-gap: 20px; */
  row-gap: 40px;
  padding-left: 0;
}

.homeMovieTitle {
  font-family: Gilroy Bold;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 50px;
  /* width: 320px; */
}
.homeImg {
  border-radius: 20px;
  margin-top: 30px;
  margin-bottom: 50px;
}
.homeImgContainer {
  height: 450px;
  width: 288px;
  border-radius: 20px;
  background: #2c2c54;
  box-shadow: 0px 0px 30px 0px rgba(146, 146, 146, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.homeListTitle {
  font-family: 'Gilroy Bold';
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 80px;
  margin-bottom: 46px;
}

/* TABLET */
@media screen and (min-width: 768px) {
  .mainContainer {
    max-width: 768px;
  }
  .hero {
    margin-left: 35px;
    width: 658px;
  }
  .aboutPage {
    font-size: 25px;
    font-weight: 500;
    width: 658px;
    line-height: 32.5px;
  }
  .titlePage {
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 35px;
    /* width: 800px; */
  }
  .homeListTitle {
    font-size: 50px;
  }
  .homeList {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 40px;
  }
  .homeImg {
    width: 280px;
    height: 425px;
    margin-bottom: 30px;
  }
  .homeImgContainer {
    width: 350px;
    height: 585px;
  }
  .homeMovieTitle {
    font-size: 35px;
  }
}

/* Desctop screen */
@media screen and (min-width: 1158px) {
  .mainContainer {
    max-width: 1158px;
    background-image: url(/src/vectors/Vector11.png),
      url(/src/vectors/Vector2.png);
    background-repeat: no-repeat;
    background-position: 100% 0%, 0% 60%;
  }
  /* .aboutPage {
    font-size: 25px;
    font-weight: 500;
    line-height: 32.5px;
    width: 658px;
  } */
  .titlePage {
    font-size: 80px;
    font-weight: 700;
    width: 800px;
    height: 194px;
  }
  .homeList {
    list-style: none;
    text-align: center;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 40px;
  }
  .homeMovieTitle {
    font-size: 50px;
  }
  .homeImg {
    width: 349.496px;
    height: 495px;
  }
  .homeImgContainer {
    width: 420px;
    height: 655px;
  }
  .homeListTitle {
    margin-top: 210px;
    margin-bottom: 46px;
  }
}

.homeLink {
  text-decoration: none;
}
.homeMovieTitle {
  background-image: linear-gradient(to right, #686de0, #54b3d6 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.homeMovieTitle:before {
  content: '';
  background: #686de0;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.homeItem:hover .homeMovieTitle {
  background-position: 0;
}

.homeItem:hover .homeMovieTitle::before {
  width: 100%;
}

/* .hero {
} */

/* .homeListMovie {
} */

/* .mainSection {
} */
