.nav {
  display: flex;
  gap: 50px;
  justify-content: center;
  background-color: rgb(31, 32, 4);
  border-bottom: solid 2px rgb(185, 93, 93);
  height: 100px;
  align-items: center;
}
.navLink {
  font-size: 30px;
  text-decoration: none;
  color: white;
}
.active {
  color: #2c2c54;
}
.navLink:hover {
  color: gold;
  text-shadow: 3px 2px 8px rgb(217, 131, 26);
}
.mainContainer {
  margin: 0 auto;
}
body {
  background-color: #2c2c54;
  width: 100%;
  color: white;
}
